* {
	box-sizing: border-box;
	margin: 0;
	padding:0;
}

a:focus{
	outline:none;
	outline-offset:0;
}


body {
/*	margin-left: 5px; margin-right: 5px; */
}

.hs-fill-page {
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
	margin-left: 5px; margin-right: 5px;
	margin-bottom: 5px;
}





/**********************************************************
 * mechanic css directives to implement dashboards and widgets
 */

@widget-margin: 4px;

hs-layout, [hs-layout] {
  position: absolute;
  left:0; right:0; top:0; bottom:0;
  overflow: hidden;
}

/**
 * only element inside each hs-layout. 
 * Used to establish a margin around the contained widgets
 */
.hs-layout-container {
  position: absolute;
  left:0; right:0; top:0; bottom:0;
//  margin: @widget-margin/2;
}

hs-widget, [hs-widget] {
  box-sizing: border-box;
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  overflow: hidden;
}

// used to move widget to front when toggling to full screen
.hs-widget-in-front { z-index: 1000; }

/**
 * wraps the hs-widget directive.
 * This container will be positioned and sized by hs-layout and hs-movebale
 */ 
.hs-widget-container { position: absolute; }

/**
 *  wraps the content of a hs-widget directive. Not used for now.
 */
.hs-widget-pane { 
  position: absolute; left:0; right:0; top:0; bottom:0; 
  border-radius: 6px;
  border: 1px solid #aaa; 
  margin: @widget-margin/2;
}

/**
 * used to visualize the outline of a widget while moving or resizing
 */
.hs-widget-helper {
	border: 1px dashed blue;
	position: absolute;
	top: -1000px; left: -1000px;
}



