@LayoutSpacing: 0px solid white;

.hs-layout {
    left: 0%; top: 0%;
    width:100%; 
    height:100%;
    position: absolute; 
    display: block;
    overflow: scroll;
//    border: 0;
}

.hs-layout-spacing {
    .hs-column-layout > .hs-layout {
        border-left: @LayoutSpacing; 
        border-right: @LayoutSpacing; 
        &:first-of-type { border-left: 0; }  
        &:last-of-type { border-right: 0; }  
    } 
    .hs-row-layout > .hs-layout {
        border-top: @LayoutSpacing;
        border-bottom: @LayoutSpacing;
        &:first-of-type { border-top: 0; }  
        &:last-of-type { border-bottom: 0; }  
    } 
    .hs-tile-layout > .hs-layout {
        border: @LayoutSpacing; 
    }
}

.hs-row-layout {
    box-sizing: border-box;
    &>.hs-layout { box-sizing: border-box; }
}

.hs-column-layout {
    box-sizing: border-box;
    &>.hs-layout { box-sizing: border-box; }
}

.hs-tile-layout>.hs-layout {
    box-sizing: border-box;
}

.hs-layout-frame {
    position:relative;
}

.hs-layout-fill {
    position:relative;
    padding:0;
    margin:0;
    width: 100%;
    height: 100%;
}

.hs-align-left {
    text-align: left;
}

.hs-align-right {
    text-align: right;
}

.hs-align-center {
    text-align: center;
}
